# Observations:
1. All of the top 5 performing schools are charter school, while the bottom 5 performing schools are district.
2. While both the top and bottom 5 schools have similar reading scores, the math scores is really where the biggest difference occurs.
3. Charter schools have higher scores than district school all across the board.
4. There is a negative correlation between the school size and overall passing rate.

In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# creating a dataframe
combined_df = school_data_complete
combined_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
#total number of schools
schools = len(combined_df.groupby('school_name'))
print(schools)

15

In [6]:
#total number of students
students = len(combined_df)
print(students)

39170

In [7]:
#total budget
budget = school_data['budget'].sum()
print(budget)

24649428

In [8]:
avg_math = student_data['math_score'].mean()
print(avg_math)

78.98537145774827

In [9]:
avg_reading = student_data['reading_score'].mean()
print(avg_reading)

81.87784018381414

In [10]:
student_data['passed_math'] = student_data['math_score'] >= 70

math_passed = sum(student_data['passed_math'])
#print(math_passed)

In [11]:
percent_pm = ((math_passed / students) * 100)
print(percent_pm)

74.9808526933878

In [12]:
student_data['passed_reading'] = student_data['reading_score'] >= 70
reading_passed = sum(student_data['passed_reading'])
print(reading_passed)

33610

In [13]:
percent_pr = ((reading_passed/students)* 100)
print(percent_pr)

85.80546336482001

In [14]:
student_data['passed_both'] = (student_data['reading_score'] >=70) & (student_data['math_score'] >=70)
both_passed = sum(student_data['passed_both'])
#print(both_passed)

In [15]:
percent_pb = ((both_passed/ students)* 100)
print(percent_pb)

65.17232575950983

In [16]:
district_df = pd.DataFrame([{'Total Schools': schools, 'Total Students':students, 'Total Budget':budget, 'Average Math Score':avg_math, 'Average Reading Score':avg_reading, '% Passing Math':percent_pm, '% Passing Reading':percent_pr, '% Overall Passing':percent_pb}])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [17]:
school_table_sum_copy = combined_df.copy()
school_table_sum_copy

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# Deleting any extra columns I won't need.

In [18]:
del school_table_sum_copy['student_name']

In [19]:
del school_table_sum_copy['gender']

In [20]:
del school_table_sum_copy['grade']

In [21]:
del school_table_sum_copy['School ID']

In [26]:
school_table_sum_copy.columns = ['Student ID', 'School Name','Reading Score', 'Math Score', 'School Type', 'Total Students', 'Total School Budget']

In [27]:
school_table_sum_copy

,Student ID,School Name,Reading Score,Math Score,School Type,Total Students,Total School Budget
0,0,Huang High School,66,79,District,2917,1910635
1,1,Huang High School,94,61,District,2917,1910635
2,2,Huang High School,90,60,District,2917,1910635
3,3,Huang High School,67,58,District,2917,1910635
4,4,Huang High School,97,84,District,2917,1910635
...,...,...,...,...,...,...,...
39165,39165,Thomas High School,99,90,Charter,1635,1043130
39166,39166,Thomas High School,95,70,Charter,1635,1043130
39167,39167,Thomas High School,73,84,Charter,1635,1043130
39168,39168,Thomas High School,99,90,Charter,1635,1043130
39169,39169,Thomas High School,95,75,Charter,1635,1043130

# Reorganizing my table

In [28]:
organized_school_table = school_table_sum_copy[['School Name','Student ID','School Type', 'Total Students', 'Total School Budget', 'Reading Score', 'Math Score']]
organized_school_table

,School Name,Student ID,School Type,Total Students,Total School Budget,Reading Score,Math Score
0,Huang High School,0,District,2917,1910635,66,79
1,Huang High School,1,District,2917,1910635,94,61
2,Huang High School,2,District,2917,1910635,90,60
3,Huang High School,3,District,2917,1910635,67,58
4,Huang High School,4,District,2917,1910635,97,84
...,...,...,...,...,...,...,...
39165,Thomas High School,39165,Charter,1635,1043130,99,90
39166,Thomas High School,39166,Charter,1635,1043130,95,70
39167,Thomas High School,39167,Charter,1635,1043130,73,84
39168,Thomas High School,39168,Charter,1635,1043130,99,90
39169,Thomas High School,39169,Charter,1635,1043130,95,75

In [29]:
organized_school_table['Per Student Budget'] = organized_school_table['Total School Budget']/ organized_school_table['Total Students']

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
organized_school_table

,School Name,Student ID,School Type,Total Students,Total School Budget,Reading Score,Math Score,Per Student Budget
0,Huang High School,0,District,2917,1910635,66,79,655.0
1,Huang High School,1,District,2917,1910635,94,61,655.0
2,Huang High School,2,District,2917,1910635,90,60,655.0
3,Huang High School,3,District,2917,1910635,67,58,655.0
4,Huang High School,4,District,2917,1910635,97,84,655.0
...,...,...,...,...,...,...,...,...
39165,Thomas High School,39165,Charter,1635,1043130,99,90,638.0
39166,Thomas High School,39166,Charter,1635,1043130,95,70,638.0
39167,Thomas High School,39167,Charter,1635,1043130,73,84,638.0
39168,Thomas High School,39168,Charter,1635,1043130,99,90,638.0
39169,Thomas High School,39169,Charter,1635,1043130,95,75,638.0

In [31]:
school_math_avg = organized_school_table.loc[organized_school_table['Math Score'] >= 70].groupby('School Name')
school_math_avg.head()

,School Name,Student ID,School Type,Total Students,Total School Budget,Reading Score,Math Score,Per Student Budget
0,Huang High School,0,District,2917,1910635,66,79,655.0
4,Huang High School,4,District,2917,1910635,97,84,655.0
5,Huang High School,5,District,2917,1910635,94,94,655.0
6,Huang High School,6,District,2917,1910635,82,80,655.0
8,Huang High School,8,District,2917,1910635,95,87,655.0
...,...,...,...,...,...,...,...,...
37535,Thomas High School,37535,Charter,1635,1043130,76,76,638.0
37536,Thomas High School,37536,Charter,1635,1043130,84,82,638.0
37537,Thomas High School,37537,Charter,1635,1043130,80,90,638.0
37539,Thomas High School,37539,Charter,1635,1043130,86,76,638.0
37540,Thomas High School,37540,Charter,1635,1043130,73,96,638.0

In [32]:
school_reading_avg = organized_school_table.loc[organized_school_table['Reading Score'] >= 70].groupby('School Name')
school_overall_avg = organized_school_table.loc[(organized_school_table['Math Score'] >= 70) & (organized_school_table['Reading Score'] >= 70)].groupby('School Name')

In [63]:
#grouping by school
school_groupby = organized_school_table.groupby('School Name')

#school district dataframe
school_summary_df = pd.DataFrame({
    'School Type': school_groupby['School Type'].unique().astype(str),
    'Total Students': school_groupby['Student ID'].count(),
    'Total School Budget': school_groupby['Total School Budget'].unique().astype(float),
    'Per Student Budget': school_groupby['Per Student Budget'].unique().astype(float),
    'Average Math Score': school_groupby['Math Score'].mean(),
    'Average Reading Score':school_groupby['Reading Score'].mean(),
    '% Passing Math': (school_math_avg['Math Score'].count()/school_groupby['Total Students'].unique().astype(float)) *100,
    '% Passing Reading': (school_reading_avg['Reading Score'].count()/ school_groupby['Total Students'].unique().astype(float))* 100,
    '% Overall Passing': (school_overall_avg['Reading Score'].count()/ school_groupby['Total Students'].unique().astype(float))* 100
    
})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,['District'],4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,['Charter'],1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,['District'],2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,['District'],2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,['Charter'],1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,['District'],4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,['Charter'],427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,['District'],2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,['District'],4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,['Charter'],962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,['District'],3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,['Charter'],1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,['Charter'],1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,['Charter'],2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,['Charter'],1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [66]:
#Top 5 performing schools sorted by % overall passing

top_five = school_summary_df.sort_values('% Overall Passing', ascending = False)
top_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,['Charter'],1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,['Charter'],1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,['Charter'],1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,['Charter'],2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,['Charter'],962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [39]:
# Bottom 5 perfoming school based on % overall passing

bottom_five = school_summary_df.sort_values('% Overall Passing', ascending = True)
bottom_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [40]:
#Math Scores by grade at each school
ninth = combined_df.loc[combined_df['grade'] == '9th'].groupby('school_name')
ninth.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130
37540,37540,Austin Meyer,M,9th,Thomas High School,73,96,14,Charter,1635,1043130
37543,37543,Madison Hampton,F,9th,Thomas High School,82,73,14,Charter,1635,1043130

In [41]:
tenth = combined_df.loc[combined_df['grade'] == '10th'].groupby('school_name')
eleventh = combined_df.loc[combined_df['grade'] == '11th'].groupby('school_name')
twelfth = combined_df.loc[combined_df['grade'] == '12th'].groupby('school_name')

In [42]:
# Math score by grade DataFrame
math_by_grade_df= pd.DataFrame({
    '9th Grade': ninth['math_score'].mean(),
    '10th Grade': tenth['math_score'].mean(),
    '11th Grade': eleventh['math_score'].mean(),
    '12th Grade': twelfth['math_score'].mean()
})
math_by_grade_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [43]:
#Reading scores by grade per school DataFrame

reading_by_grade_df= pd.DataFrame({
    '9th Grade': ninth['reading_score'].mean(),
    '10th Grade': tenth['reading_score'].mean(),
    '11th Grade': eleventh['reading_score'].mean(),
    '12th Grade': twelfth['reading_score'].mean()
})
reading_by_grade_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [44]:
# creating bins for school spending per student
school_bins = school_summary_df.copy()
bins = [0, 585, 630, 645, 680]
ranges = ['<$585', '$585-630', '$630-645', '$645-680']

In [46]:
school_bins['Ranges for Spending Per Student'] = pd.cut(school_bins['Per Student Budget'], bins, labels= ranges, include_lowest = True)
school_bins1 = school_bins.iloc[:,4:10].groupby('Ranges for Spending Per Student')
school_bins1.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Ranges for Spending Per Student,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [48]:
# bins for school size
school_size_bins = school_summary_df.copy()
size_bins = [0, 1000, 2000, 5000]
size_ranges = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [49]:
school_size_bins['School Size Ranges'] = pd.cut(school_size_bins['Total Students'], size_bins, labels = size_ranges, include_lowest= True)
school_size_bins1 = school_size_bins.iloc[:, 4:10].groupby('School Size Ranges')
school_size_bins1.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size Ranges,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [64]:
#scores by school type 
scores_by_type = school_summary_df.copy()
scores_by_type1 = scores_by_type.iloc[:,4:10]
scores_by_type1['School Type'] = school_summary_df['School Type']
scores_by_type1.groupby('School Type').mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
['Charter'],83.473852,83.896421,93.620830,96.586489,90.432244
['District'],76.956733,80.966636,66.548453,80.799062,53.672208