In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
# creating a dataframe
combined_df = school_data_complete
combined_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
#total number of schools
schools = len(combined_df.groupby('school_name'))
print(schools)

15

In [5]:
#total number of students
students = len(combined_df)
print(students)

39170

In [6]:
#total budget
budget = school_data['budget'].sum()
print(budget)

24649428

In [7]:
avg_math = student_data['math_score'].mean()
print(avg_math)

78.98537145774827

In [8]:
avg_reading = student_data['reading_score'].mean()
print(avg_reading)

81.87784018381414

In [9]:
student_data['passed_math'] = student_data['math_score'] >= 70

math_passed = sum(student_data['passed_math'])
#print(math_passed)

29370

In [10]:
percent_pm = ((math_passed / students) * 100)
print(percent_pm)

74.9808526933878

In [11]:
student_data['passed_reading'] = student_data['reading_score'] >= 70
reading_passed = sum(student_data['passed_reading'])
#print(reading_passed)

33610

In [12]:
percent_pr = ((reading_passed/students)* 100)
print(percent_pr)

85.80546336482001

In [15]:
student_data['passed_both'] = (student_data['reading_score'] >=70) & (student_data['math_score'] >=70)
both_passed = sum(student_data['passed_both'])
#print(both_passed)

25528

In [16]:
percent_pb = ((both_passed/ students)* 100)
print(percent_pb)

65.17232575950983

In [19]:
district_df = pd.DataFrame([{'Total Schools': schools, 'Total Students':students, 'Total Budget':budget, 'Average Math Score':avg_math, 'Average Reading Score':avg_reading, '% Passing Math':percent_pm, '% Passing Reading':percent_pr, '% Overall Passing':percent_pb}])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [28]:
school_names = combined_df.groupby('school_name')
school_names